<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mera E-commerce Store</title>
</head>
<body>

    <h1>Welcome to Mera Store!</h1>
    
    <div style="background-color: #f1f1f1; padding: 10px; margin-bottom: 20px;">
        <strong>Categories: </strong>
        
        <a href="{% url 'products' %}" style="margin-right: 15px; text-decoration: none; color: black;">
            All Products
        </a>
        
        {% for cat in categories %}
            <a href="{% url 'category_filter' cat.id %}" style="margin-right: 15px; text-decoration: none; color: blue;">
                {{ cat.category_name }}
            </a>
        {% endfor %}
    </div>
    <hr>

    <ul>
        {% for item in products %}
            <li>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="Product Image" width="150" height="150"><br>
                {% endif %}

                <a href="{% url 'product_detail' item.id %}" style="text-decoration: none; color: blue; font-size: 20px;">
                    <strong>{{ item.name }}</strong>
                </a> <br><br>
                
                Price: ₹{{ item.price }} <br>
                Description: {{ item.description }}
            </li>
            <br>
        {% empty %}
            <p>Bhai abhi tak database mein koi product nahi dala hai, ya is category mein koi product nahi hai!</p>
        {% endfor %}
    </ul>

</body>
</html>